body {
    display: grid;
    margin: 0;
    overflow-x: hidden;
}

.menu_busqueda {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(80, 213, 222); */
    height: 50px;
    width: 100%;
    border-bottom: #efefef 2px solid;
}

.nin_logo {
    height: 100%;
    width: 100px;
    margin-right: 10px;
}


.lupa {
    font-size: 20px;
    color: #434242;
    /* background-color: blueviolet; */
    height: 100%;
}

.lupa:hover {
    color: #e60012;
}

.search {
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    margin: 0;
    width: 400px;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: #434242 1px solid;
}


.inp_busc {
    margin-left: 5px;
    outline: none;
    height: 17px;
    width: 280px;
    border: none;

}

.dropdown {
    border: none;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.options {
    display: grid;
    grid-template-columns: 20% 24% 18% 20%;
    gap: 2px;
    /* background-color: blue; */
    margin-left: 280px;
    justify-content: right;
    width: 450px;
}

.support {
    display: flex;
    justify-content: end;
    /* background-color: #e60012; */

}

.support:hover {
    color: #e60012;
}

.support:hover .icon_op_sup {
    color: #e60012;
}

.icon_op_sup {
    color: #434242;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25%;
    /* background-color: crimson; */
}

.icon_op_wl {
    color: #434242;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20%;
    /* background-color: crimson; */
}

.icon_op_cart {
    color: #434242;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25%;
    /* background-color: crimson; */
}

.icon_op_log {
    color: #434242;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 25%;
    /* background-color: crimson; */
}

.text_op {
    /* background-color: cadetblue; */
    font-size: 13px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: "Roboto";
    font-weight: 500;
}

.wl {
    display: flex;
    justify-content: end;
    /* background-color: burlywood;  */

}

.wl:hover {
    color: #e60012;
}

.wl:hover .icon_op_wl {
    color: #e60012;
}

.cart {
    display: flex;
    justify-content: end;
    /* background-color: chartreuse; */
}

.cart:hover {
    color: #e60012;
}

.cart:hover .icon_op_cart {
    color: #e60012;
}

.log {
    display: flex;
    justify-content: end;
    /* background-color: chocolate; */
}

.log:hover {
    color: #e60012;
}

.log:hover .icon_op_log {
    color: #e60012;
}

.submenu {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(80, 213, 222); */
    height: 40px;
    width: 100%;
    border-bottom: #efefef 2px solid;
}


.search_2 {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    gap: 20px;
    padding-top: 8px;
    justify-content: center;
}

.dropdown_store {
    border: none;
    padding-bottom: 5px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
}

.dropdown_games {
    border: none;
    padding-bottom: 5px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;

}

.dropdown_ns {
    border: none;
    padding-bottom: 5px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
}

.dropdown_play {
    border: none;
    padding-bottom: 5px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
}

.news {
    display: flex;
    flex-direction: row;

}

.news p {
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    color: #434242;
}

.icon_op_news {
    font-size: 20px;
    margin-top: 2px;
    color: #434242;
    text-decoration: none;
    padding-bottom: 5px;
}

.icon_op_store {
    font-size: 20px;
    margin-top: 5px;
    color: #434242;
    text-decoration: none;
    padding-bottom: 5px;
}

.icon_op_games {
    font-size: 20px;
    margin-top: 5px;
    color: #434242;
    text-decoration: none;
    padding-bottom: 5px;
}

.icon_op_ns {
    font-size: 20px;
    margin-top: 5px;
    color: #434242;
    text-decoration: none;
    padding-bottom: 5px;
}

.icon_op_play {
    font-size: 20px;
    margin-top: 5px;
    color: #434242;
    text-decoration: none;
    padding-bottom: 5px;
}

.dropdown_ns:hover {
    color: #e60012;
}

.cont_ns:hover .icon_op_ns {
    color: #e60012;
}

.dropdown_store:hover {
    color: #e60012;
}

.cont_store:hover .icon_op_store {
    color: #e60012;
}

.dropdown_games:hover {
    color: #e60012;
}

.cont_games:hover .icon_op_games {
    color: #e60012;
}

.dropdown_play:hover {
    color: #e60012;
}

.cont_play:hover .icon_op_play {
    color: #e60012;
}

.news:hover p {
    color: #e60012;
}

.news:hover .icon_op_news {
    color: #e60012;
}

.trimenu {
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    height: 30px;
    width: 100%;
}

.search_3 {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    gap: 10px;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.shipping {
    display: flex;
    flex-direction: row;

}

.shipping p {
    margin: 0;
    margin-top: 3px;
    font-size: 12px;
    margin-left: 10px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 400;
}

.icon_op_truck {
    color: #e60012;
}

.ninp {
    color: #434242;
}

.restr {
    color: #434242;
}

.coin {
    display: flex;
    flex-direction: row;
    border-left: #434242 1px solid;
    font-family: "Roboto";
    font-weight: 400;
}

.coin p {
    margin: 0;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 3px;
    color: #434242;
}

.icon_op_coin {
    color: #e60012;
    margin-left: 10px;
}

.im_blue {
    width: 100%;
    height: 400px;
    background-color: #d6f0fa;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.star_logo {
    width: 350px;
    height: 200px;
}

.game_prin {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40px 210px 50px;
    width: 75%;
    height: 400px;
    margin-top: 20px;
    background-color: #ffffff;
    justify-content: center;
    column-gap: 10px;
    position: relative;

}

.game_prin::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: ' ';
    background: #434242;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: -1;
}

.precio {
    display: flex;
    flex-direction: row;
}

.game_prin {
    color: #434242;
    font-size: 12px;
}

.yop {
    margin-top: 15px;
    grid-column: 1/3;
    height: min-content;
    color: #434242;
    font-family: "Roboto";
    font-weight: 400;
}

.console {
    font-size: 12px;
    border-bottom: #e60012 2px solid;
    width: 90px;
    font-family: "Roboto";
    font-weight: 400;
}

.stardiu {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 25px;

}

.precio p {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 18px;
}

.icon_op_like {
    font-size: 20px;
    color: #e60012;
    margin-left: auto;
    margin-top: 15px;
}

.elegible {
    font-size: 8px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 400;
}

.eeee {
    font-size: 25px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 200px;
}

.rr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    height: 300px;

}

.rrgim {
    width: 100%;
    height: 120px;
}

.rrg {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: #6a6a6a 1px solid;
    width: 200px;
    height: 100%;
}

.rrgp {
    font-size: 15px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
}

.rrgprice {
    font-size: 15px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
    margin-top: 60px;
    margin-left: 10px;
}

.rrgprice_alt {
    font-size: 15px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 500;
    margin-top: 42px;
    margin-left: 10px;
}

.final {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon_op_like_fin {
    font-size: 20px;
    color: #e60012;
    margin-left: 70px;

}


.console_fin {
    font-size: 12px;
    border-bottom: #e60012 2px solid;
    width: 90px;
    height: 16px;
    font-family: "Roboto";
    font-weight: 400;
    text-align: center;
    margin-left: 10px;
}

.download {
    width: 100%;
    color: #ffffff;
    margin-top: 5px;
    background-color: #e60012;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-family: "Roboto";
    font-weight: 500;
}

.disc {
    font-size: 8px;
    color: #434242;
    font-family: "Roboto";
    font-weight: 400;
}

.collec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    margin: 0;
    margin-right: 30px;
}

.coll_im {
    width: 66px;
    height: 40px;
}

.pegi {
    height: 80px;
    width: 350px;
    grid-row-start: 4;
    margin-left: -5px;
}




.main_2 {
    width: 400px;
    height: 200px;
}

.texto_img {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    column-gap: 60px;
    margin-top: 50px;
}

.texto_img p {
    font-size: 13px;
    text-align: justify;
    color: #6a6a6a;
    font-family: "Roboto";
    font-weight: 400;
}

.leermas {
    display: flex;
    flex-direction: row;
}

.leermas p {
    font-size: 15px;
    color: #e60012;
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
}

.esrb {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    margin-top: 30px;
    column-gap: 30px;
}

.icon_op_more {
    color: #e60012;
    font-size: 15px;
}

.cuadros {
    display: grid;
    grid-template: 40% 40% / repeat(3, 30%);
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: #efefef;
    height: 100%;

}

.cuadros p {
    font-size: 15px;
    grid-column: 1/4;
    text-align: center;
    color: #434242;
    font-family: "Roboto";
    font-weight: 400;

}

.tv p {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
}

.icon_op_tv {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.icon_op_tt {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.icon_op_hh {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.imaes {
    background-color: #efefef;
    justify-content: center;
    padding-bottom: 15px;
}

.imaes p {
    font-size: 15px;
    color: #434242;
    text-align: center;
    font-family: "Roboto";
    font-weight: 400;
}

.imaes img {
    margin-left: 15%;
}


.tv {
    display: grid;
    grid-template: repeat(2, 30%) / 100%;
    row-gap: 5px;
    color: #ffffff;
    background-color: #0b2b6b;
    width: 120px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: "Roboto";
    font-weight: 400;
}

.etc {
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
    margin-top: 30px;
}

.etc_2 {
    display: grid;
    grid-template-columns: 75%;
    justify-content: center;
}

.release {
    display: flex;
    flex-direction: row;
    border-top: #efefef 2px solid;
    border-bottom: #efefef 2px solid;
    padding: 10px;
}

.release_2 {
    display: flex;
    flex-direction: row;
    border-bottom: #efefef 2px solid;
    padding: 10px;
}

.rel {
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
    font-family: "Roboto";
    font-weight: 400;
    width: 180px;
}

.icon_op_cal {
    font-size: 25px;
    color: #434242;
}

.date {
    margin-left: 190px;
    margin-top: 5px;
    color: #6a6a6a;
    font-family: "Roboto";
    font-weight: 400;
}

.spm {
    margin-left: 190px;
    margin-top: 5px;
    color: #6a6a6a;
    font-family: "Roboto";
    font-weight: 400;
}

.gfz {
    margin-left: 200px;
    margin-top: 5px;
    color: #6a6a6a;
    font-family: "Roboto";
    font-weight: 400;
}

.sl {
    margin-left: 220px;
    margin-top: 5px;
    color: #6a6a6a;
    font-family: "Roboto";
    font-weight: 400;
}


.hylink {
    color: #e60012;
    margin-top: 5px;
    margin-left: 190px;
    font-weight: bold;
}

.ghylink {
    color: #e60012;
    margin-top: 5px;
    margin-left: 190px;
    font-weight: bold;
}

.phylink {
    color: #e60012;
    margin-top: 5px;
    margin-left: 197px;
    font-weight: bold;
}

.ehylink {
    color: #e60012;
    margin-top: 5px;
    margin-left: 190px;
    font-weight: bold;
}


.hylink_2 {
    color: #e60012;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.pie {
    display: flex;
    background-color: #e60012;
    width: 100%;
    margin-top: 30px;
}

.nin_logo_2 {
    width: 200px;
    height: 100px;
}

.redes {
    margin-left: 800px;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.icon_op_red {
    color: #ffffff;
    font-size: 30px;
}

.info {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.about {
    border-right: #949494 2px solid;
}

.title {
    color: #434242;
    font-weight: bolder;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 600;
    margin-right: 5px;
}

.normal {
    color: #e60012;
    font-size: 16px;
    font-weight: bolder;
    font-family: "Roboto";
    font-weight: 500;
}

.pie_2 {
    background-color: #434242;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 30px;
}

.let {
    color: #ffffff;
    font-size: 15px;
}

.redes_2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    width: 100%;
}

.disclaimer {

    text-align: center;
}

.disclaimer p {
    color: #ffffff;
}

.online {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template: 50% 50% / 70%;
    justify-content: center;
}

.onlimg {
    width: 900px;
    height: 300px;
}

.rial {
    width: 900px;
    height: 300px;
    background-color: #efefef;
    display: grid;
    grid-template: 100% / 50% 50%;

}

.rialt {
    margin-left: 20px;
    margin-top: 20px;
}

.rialimg {}

.manos {
    width: 100%;
    height: 100%;
}

.tgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}

.texton {
    font-family: "Roboto";
    font-weight: 500;
    color: #434242;
    font-size: 20px;
}

.onlyne {
    width: 200px;
    height: 50px;
}

.op {
    font-family: "Roboto";
    color: #e60012;
    font-size: 15px;
    font-weight: bold;
}

.sdc {
    font-family: "Roboto";
    color: #e60012;
    font-size: 15px;
    font-weight: bold;
}

.tgs {
    font-family: "Roboto";
    font-weight: 400;
    color: #434242;
    font-size: 15px;
}

.b_lm {
    background-color: #e60012;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 400;
    border-radius: 3px;
    border: none;
    padding: 5px;
    width: 125px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}